@media (max-width: 992px) {
	.killMobile {
		display: none;
	}
}

/*for adjusting links*/
.olink {
	padding-top: 60px;
}

aside h5 {
	padding-left: 5px;
}

aside h6 {
	padding-left: 20px;
}

aside a{
	color: black !important;
	text-decoration: none !important;
}

section {
	padding-left: 10px !important;
	padding-right: 10px !important;
}

/*body section design*/
.oshadow1 {
	box-shadow: 5px 5px gainsboro !important;
}

.oalt1 {
	background: whitesmoke !important;
}

.oalt2 {
	background: snow !important;
}

/*for gallery section*/
.imgDim {
	width: 100% !important;
	opacity: 0.7;
}

.forImg a:hover {
	opacity: 1.0;
}

/*flex box section*/
.flexItem0 {
	background: aqua;
	text-align: center;
	margin: 5px;
	width: 30px;
	height: 30px;
}

/*define flexbox parent height*/
.oHeight0 { 
	height: 80px !important;
}

/*define flexbox parent height*/
.oHeight1 {
	height: 200px !important;
}

/*for modal input box*/
.o-form-border {
	border: none !important;
	border-radius: 0px !important;
	border-bottom: 1px solid gray !important;
}


/*CSS ANIMATIONS*/
.oCSSAnimBox {
		width: 50%;
		height:50%;
		border-radius:15px;
		margin: 10px auto;
}

#oGlowButton {
		animation: radiance 5s infinite;
}

@keyframes radiance {  
    0% {box-shadow: 0 0 15px #e6dada;} 
    50% {box-shadow: 0 0 45px red;} 
    100% {box-shadow: 0 0 15px #e6dada;} 
 }

#oColTrans {
	animation: transButton 5s infinite;
 }

@keyframes transButton {
	0% {background-color: #274046; color:white; border-color:white;}
	50% {background-color: #e6dada; color:black; border-color:black}
	100% {background-color: #274046; color:white; border-color:white}
}

#oPulse {
	animation: pulsing 1s infinite;
 }

@keyframes pulsing {
	0%,100% {transform: scale(1);}
	50% {transform: scale(1.5);}
}

#oMove {
	animation: moving 5s infinite;
 }

@keyframes moving {
	0%,100% {transform: translate(0,0);}
	50% {transform: translate(100px, 20px);}
}